<html>
<body>
<header class="header">
  <a href="#" class="logo">
      <img width="64" height="64"
          src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-coffee-shop-coffee-flaticons-flat-flat-icons.png"
          alt="external-coffee-shop-coffee-flaticons-flat-flat-icons" />
  </a>

  <nav class="navbar">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#menu">menu</a>
      <a href="#menuitems">menu-items</a>
      <a href="#contact">contact</a>
      <a href="#user">user</a>
  </nav>

  <div class="icons">
      <div class="fas fa-search" id="search-btn"></div>
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
      <div class="fas fa-bars" id="menu-btn"></div>
  </div>

  <div class="seacrh-form">
      <input type="search" id="search-box" placeholder="seacrh here...">
      <label for="seacrh-box" class="fas fa-search"></label>
  </div>
  <!--start deploy cart items here  -->
  <!-- end deploy cart items here -->
</header>





<h1 style="color:rgb(146, 120, 63);",style="font-size:500%;">Shopping Cart</h1>

<div class="shopping-cart" >

   </div>

  <div class="product">
    <div class="product-image">
      <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg"width="200" height="200">
    </div>
    <div class="product-details">
      <div class="product-title">cofee</div>
      <p class="product-description">sperso+milk+sugar.</p>
    </div>
    <div class="product-price">12.99</div>
    <div class="product-quantity">
      <input type="number" value="2" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">25.98</div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png"width="200" height="200">
    </div>
    <div class="product-details">
      <div class="product-title">mofeen</div>
      <p class="product-description">vanilia mofeen</p>
    </div>
    <div class="product-price">45.99</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">45.99</div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">3.60</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">90.57</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>

</div>
<!-- footer section starts -->
<section class="footer">
  <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
      <a href="#" class="fab fa-pinterest"></a>
  </div>

  <div class="links">
      <a href="#">home</a>
      <a href="#">about</a>
      <a href="#">menu</a>
      <a href="#">menu items</a>
      <a href="#">contact</a>
      <a href="#">user</a>
  </div>

  <div class="credit">Created by <span>Maktab 105 Group 1</span> | all rights reserved</div>
</section>
<!-- footer section ends -->
</body>
</html>