<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset link sent</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="body bg-white dark:bg-[#0D075F]">
    <div class="bg-black before:animate-pulse before:bg-gradient-to-b before:from-gray-900 overflow-hidden before:via-[#d3ad7f] before:to-gray-900 before:absolute ">
        <div id="myDIV">
            <div class="w-[100vw] h-[100vh] px-3 sm:px-5 flex items-center justify-center absolute">
                <div class="w-full sm:w-1/2 lg:2/3 px-6 bg-gray-500 bg-opacity-20 bg-clip-padding backdrop-filter backdrop-blur-sm text-white z-50 py-4  rounded-lg">
                    <div class="text-white text-xl mb-lg-5">reset link send🎉</div>
                    <div class="text-white text-lg mb-5 mt-4" > check your inbox📥</div>
                    <div class="text-white font-italic font-weight-light">note:it may found in spam section</div>
                </div>
            </div>
        </div>
    </div>         
</body>
<script>
    const para = document.createElement("div");
    para.className = 'flex flex-wrap gap-0.5 h-screen items-center justify-center  relative';
    let el = '<div class = "  transition-colors duration-[1.5s] hover:duration-[0s] border-[#6F4E37] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#6F4E37]"></div>'
    for (var k = 1; k <= 1000; k++) {
        el += '<div class = " transition-colors duration-[1.5s] hover:duration-[0s] border-[#6F4E37] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#6F4E37]"></div>';
    }
    

    para.innerHTML = el;
    document.getElementById("myDIV").appendChild(para);
</script>
