<!DOCTYPE html>
<html>
<head>
<style>
.profile{
  background-color: rgb(180, 151, 87);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width:600px;
}
</style>
</head>
<body>

<div class="profile">
<h2 style="text-align:center;">YOUR ACCOUNT</h2>

</div> 

<div class="profile">
    <h2> &#128100;Name</h2>
    <p>phoneNumber</p>
    </div>

<div class="profile">
<h2>Orders</h2>
<p>previously orders</p>
</div>

<div class="profile">
<h2>Order Cart</h2>
<p>Carts</p>
</div>

<div class="profile">
    <h2>Promotions</h2>
    <p>your promotions and discarts</p>
    </div>

    <div class="profile">
    <h2>Edit info</h2>
    <p>Edit your profile information</p>
    </div>
    
    <div class="profile">
        <h2>Change password </h2>
        <p>change your security info</p>
        </div>
</body>
</html>
